<% content_for :head do %>

    <%= @pinion.css_url("/assets/css/forceGraph.css") %>
    <%#= @pinion.js_url("/assets/js/main.js") %>
    <%#= @pinion.js_url("/assets/js/search_mechanics.js") %>
    <%#= @pinion.js_url("/assets/js/graphing.js") %>
    <%#= @pinion.js_url("/assets/js/helpers.js") %>
    <%#= @pinion.js_url("/assets/js/cookies.js") %>
    <%#= @pinion.js_url("/assets/js/text_indent_browse.js") %>
    <%#= @pinion.js_url("/assets/js/forceGraph_browse.js") %>
    <%#= @pinion.js_url("/assets/js/customTabs.js") %>
    <%#= @pinion.js_url("/assets/js/word_wrapping.js") %>
    
    
<% end %>

<div class="chartTree"></div>

